.listcontent{
    height: 100%;
    width: 100%;

    //background: $defaultGradient;
    background-color:$defaultBackground;
    .release-date{
        height:30px;

        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        font-size: $dataFontSize;

        align-items: center;
        justify-content: center;

        //background-color: #000;
    }
    .breakdown-container {
        font-size: $dataFontSize;
       * {box-sizing: border-box;}

        //background-color: #F00;

        .breakdown-list {
            grid-column: 1;
            grid-row: 1;
            height:92%;

            font-size: $dataFontSize;
            color: $textColorDark;
            background:$defaultGridColorA;
            position: absolute;
            top: 30px;
            left: 10px;
            right: 10px;

            overflow: scroll;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
        .breakdown-list-header {
            padding: 10px 10px;
            height: rem-calc(20px);
            display: grid;
            grid-template-columns: 10% 50% 15% 25% ;
            grid-template-rows: 1;
        }

        .breakdown-list-item {
            padding: 10px 10px;
            height: rem-calc(20px);
            display: grid;
            grid-template-columns: 10% 50% 15% 20% 5%;
            grid-template-rows: 1;
            //font-weight: bold;

            //border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(even) {
                background: $defaultGridColorB;
            }

            .breakdown-column{
                font-size: $listFontSize;
                width: 100%;
                //height: rem-calc(28px);

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

            }
            .new-item{
                font-weight: bold;
            }

        }
    }
}
