$baseFontSize: 10px;
$dataFontSize: 14px;
$defaultFont: Roboto-Regular;
$defaultFontBold: Roboto-Regular;
$textColor: #9399AE;
$textHighlightColor: #f0f0f0;
$defaultGradient: linear-gradient(-180deg, #333540 0%, #30333D 100%);
$defaultBorderColor: #3C3F4A;
$highlightColor: #439033;

$padding:8px;
