
.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48% 48%;
    background-color: $defaultBackground;
    //grid-gap: rem-calc($padding);

    .sectiontitle{
        justify-self: right;
        grid-column: 1;
        grid-row: 1;
    }
    .countvalue{
        grid-column: 2;
        grid-row: 1;
    }
    .newcountvalue{
        margin-left: rem-calc(30px);
        margin-top: rem-calc(1px);
        margin-bottom: rem-calc(15px);

        font-size: 10px;
        color:#fff;
        grid-column:2;
        grid-row: 1;
    }

    .numberCircle {
        margin-left: rem-calc(32px);
        margin-top: rem-calc(1px);
        margin-bottom: rem-calc(15px);

        border-radius:50%;
        width:10px;
        height:10px;
        display:block;
        float:left;
        border:2px solid #f00;
        background: #f00;
        color:#fff;
        text-align:center;
        line-height: 10px;
    }

    //justify-content:center;
    .cmail-group{
        grid-row: 1;
        display: grid;
        align-items:center;
        justify-items: center;

        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: 1fr;

        font-size: $dataFontSize;
        margin-top: rem-calc($padding);
        margin-left: rem-calc($padding);
        margin-right: rem-calc($padding);
        //margin-bottom: rem-calc($padding);

        background-color: $defaultBodyColor;
        transition: background-color .5s;
        border-radius: 5px;
/*        :hover{
            width:100%;
            height:100%;
            grid-column: 1/3;
            align-items:center;
            justify-items: center;
            border-radius: 5px;
            background-color: #888;
            transition: background-color .5s;
        }
    */
    }
    .breakdown-group{
        grid-row: 2;
        display: grid;
        align-items:center;
        justify-items: center;

        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: 1fr;

        font-size: $dataFontSize;
        margin-top: rem-calc($padding);
        //margin-bottom: rem-calc($padding);
        margin-left: rem-calc($padding);
        margin-right: rem-calc($padding);

        background-color: $defaultBodyColor;
        //background: $defaultGradient;
        border-radius: 5px;
    }
}
