$baseFontSize: 10px;
$dataFontSize: 12px;
$listFontSize: 12px;
$defaultFont: Roboto-Thin;
$defaultFontBold: Roboto-Regular;
$textColor: #fff;
$textHighlightColor: #f0f0f0;
$defaultGradient: linear-gradient(-180deg, #748AA7 0%, #294265 100%);
$defaultBorderColor: #3C3F4A;
$highlightColor: #439033;
$buttonGradient: linear-gradient(-180deg, #33AD22 0%, #4E7C3F 100%);
$defaultBodyColor: #073257;
$defaultBackground: #00243A;
$defaultRollover: #073257;

$padding:8px;
