
.datacontent {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    //background: $defaultGradient;
    background-color:$defaultBackground;
    grid-gap: 10px;
    .cmail-group{
        margin: 10px 10px 0px 10px;

        grid-column: 1;
        grid-row: 1;
//height:30%;
        display: grid;
        align-items:center;
        justify-items: center;

        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: 1fr;

        background-color: $panelColor;
        border-radius: 5px;

    }
    .breakdown-group{
        margin: 0px 10px 10px 10px;
        grid-column: 1;
        grid-row: 2;
//height:30%;

        display: grid;
        align-items:center;
        justify-items: center;

        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: 1fr;
        background-color: $panelColor;
        border-radius: 5px;
    }

    .sectiontitle{
        justify-self: right;
        grid-column: 1;
        grid-row: 1;
    }
    .countvalue{
        grid-column: 2;
        grid-row: 1;
    }
    .newcountvalue{
        margin-left: rem-calc(22px);
        margin-top: rem-calc(1px);
        margin-bottom: rem-calc(7px);

        font-size: 10px;
        color:#fff;
        grid-column:2;
        grid-row: 1;
    }

    .numberCircle {
        margin-left: rem-calc(22px);
        margin-top: rem-calc(1px);
        margin-bottom: rem-calc(7px);

        border-radius:50%;
        width:10px;
        height:10px;
        display:block;
        float:left;
        border:2px solid #f00;
        background: #f00;
        color:#fff;
        text-align:center;
        line-height: 10px;
    }

}
