@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular.woff') format('woff2');
}

.hidden {
  display: none !important;
}

html,
body {
  font-family: $defaultFont;
  font-size: $baseFontSize;
  height: 98%;
  color: $textColor;
  background-color: $defaultBackground;

}
//label,
textarea,
input,
button {
  outline: none;
  font-size: $baseFontSize;
  font-family: $defaultFont;
  color: $textHighlightColor;
}
button {
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
  background-color: $defaultBackground;

}
