//@font-face {
//  font-family: 'Roboto-Regular';
//  src: url('../assets/fonts/Roboto-Regular.woff') format('woff2');
//}

.hidden {
  display: none !important;
}

html{
    height:100%;
}
body {
    height: 100%;
    font-family: $defaultFont;
    font-size: $dataFontSize;

    color: $textColorLight;

}
//label,
textarea,
input,
button {
  outline: none;
}
button {
  cursor: pointer;
}

.container {
    height: 100%;
}
