.login {
    background-color: $defaultBackground;
    width: 100%;
    height:100%;

    .message {
        //position: absolute;
        padding-top: 10px;
        padding-left: 10px;
        width: 70%;
        height: 10px;
    }

    .login-fields{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        align-items: center;
        font-size: $dataFontSize;
        input{
            background-color: $defaultBackground;
            border: 2px solid $defaultBorderColor;
            font-size: $dataFontSize;
            border-radius: 2px;
            height: rem-calc(25px);
            width: 100%;
            align-items: center;
            text-align: left;
        }
        input[type=text],input[type=password]{
            &.invalid{
                border: 2px solid red;
            }
        }
    }
    .login-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        align-items: center;
        justify-items: center;
        font-size: $dataFontSize;

        .login-button{
            grid-column:2;
            grid-row: 1 / span 2;

            font-size: $dataFontSize;
            background: $defaultGradient;
            width: rem-calc(120px);
            height: rem-calc(35px);
            border: 0;
            border-radius: 3px;
            color: $textHighlightColor;
            background: $buttonGradient;
        }
        .login-checkbox{
            grid-column:1;
            grid-row:1;
        }
        .login-forgot{
            grid-column:1;
            grid-row:2;
            color: $textColor;
        }
    }


}
