.menu {
  flex-basis: rem-calc(280px);
  flex-shrink: 0;
  background-image: $defaultGradient;
  border-right: 1px solid $defaultBorderColor;
  overflow-y: none;
}
.menu-item {
  background-image: $defaultGradient;
  border-bottom: 1px solid $defaultBorderColor;
  width: 100%;
  height: rem-calc(64px);

  .buttons {
      //position: absolute;
      left: 0;
      right: 0;
  }
  .action-button {
      background: $defaultGradient;
      width: rem-calc(145px);
      height: rem-calc(45px);
      //font-size: rem-calc(20px);
      border: 0;
      border-radius: 3px;
      color: $textHighlightColor;
  }
  .login-button {
      background: $highlightColor;
      //color: #1D4A39;
  }
}
